@page "/ordenesjefedep"
@attribute [Authorize(Roles = "Jefe Departamento, Aprobador")]
<link href="~/Pages/Adminusuario/Crearusuario.css" rel="stylesheet" />

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4 m">
        <h1>Revision de Ordenes</h1>
    </div>

    <hr />

    <div class="d-flex justify-content-center">
        <div class="input-group" style="max-width: 400px;">
            <div class="form-group w-100">
                <label for="searchInput" class="form-label text-muted">Ordenes</label>
                <div class="input-group">
                    <input id="searchInput" type="text" class="form-control" placeholder="Ingrese el Número de Orden" style="background-color: #282828; color: #d7d7d7;border-right:none; border-radius:10px 0px 0px 10px">
                    <span class="input-group-text" style="background-color: #282828;color: #d7d7d7; border-left:none; border-radius:0px 10px 10px 0px">
                        <Heroicon Name="MagnifyingGlass" Style="outline; " class="small-icon" />
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive mt-5 rounded-3" style="max-width: 1000px; margin: 0 auto;">
        <table class="table table-dark table-striped table-condensed  text-center">
            <thead>
                <tr>
                    <th scope="col">Orden</th>
                    <th scope="col">Fecha de Solicitud</th>
                    <th scope="col">Usuario Solicitante</th>
                    <th scope="col">Fecha Actualización</th>
                    <th scope="col">Acción</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001</td>
                    <td>19-06-2024 06:00</td>
                    <td>knunez01</td>
                    <td>19-06-2024 06:00</td>
                    <td><a href="/revordenes" class="text-info">Revisar</a></td>
                    <td><span class="text-warning">Espera Rev</span></td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>20-06-2024 08:00</td>
                    <td>jvenegas2024</td>
                    <td>21-06-2024 16:30</td>
                    <td><a class="text-info">Revisar</a></td>
                    <td><span class="text-success">Aprobada</span></td>

                </tr>
            </tbody>
        </table>
    </div>


</div>

<style>
    .swal-custom-confirm {
        background-color: #E5E7EB !important;
        color: #121212 !important;
        border-radius: 5px;
        padding: 10px 30px;
        width: 200px;
    }

    .swal-custom-cancel {
        background-color: #545F71 !important;
        color: white !important;
        border-radius: 5px;
        padding: 10px 30px;
        width: 200px;
    }

    .swal2-popup {
        border-radius: 20px !important;
        padding: 10px;
    }
</style>

@code {
    [Inject] NavigationManager navManager { get; set; }

    private void NavigateToNuevoUsuario()
    {
        navManager.NavigateTo("/usuarionuevo");
    }

    private void NavigateToEditarUsuario()
    {
        navManager.NavigateTo("/editarusuario");
    }

    private async Task MostrarAlertaEliminar()
    {
        await js.InvokeVoidAsync("Swal.fire", new
        {
            title = "Esta Seguro de Eliminar Usuario?",
            text = "Si lo eliminas se perderan los datos del usuario!",
            showCancelButton = true,
            cancelButtonText = "Cancel",
            confirmButtonText = "Aceptar",
            confirmButtonColor = "#545F71",
            cancelButtonColor = "#E5E7EB", // Color de fondo del botón Cancelar
            background = "#121212", // Fondo del modal
            color = "#545f71", // Color del texto
            customClass = new
            {
                confirmButton = "swal-custom-confirm",
                cancelButton = "swal-custom-cancel",
                content = "swal-text-left"
            }
        });

    }

}
