@using Proveduria_PROT.Authentication
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager



<PageTitle>Proveduria</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 navbar-dark bg-dark">
            <AuthorizeView>
                <Authorized>
                    <Heroicon Name="cog-8-tooth" Style="outline" class="me-2 small-icon" />
                    <Heroicon Name="bell" Style="outline" class="me-2 small-icon" />
                </Authorized>
           
                <NotAuthorized>
                    <a href="/login" class="d-flex align-items-center">
                        <Heroicon Name="Power" Style="outline" class="small-icon" />
                    </a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    
}