@page "/acerca-de"
<link href="~/Pages/AcercaDe/AcercaDe.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


<div class="about-container bg-dark text-light p-5 rounded-3">
    <div class="row align-items-center">
        <div class="col-md-4">
            <div class="logo-container mx-auto" style="border-radius: 20px; background-color: #383b3f">
                <img src="img/logo_uaca.webp" alt="Logo Universidad" class="university-logo img-fluid" />
            </div>
        </div>
        <div class="col-md-8 text-center">
            <h1 class="text-primary">Universidad Autónoma de Centro América</h1>
            <h2 class="text-secondary">Análisis y Diseño de Sistemas I</h2>
            <p class="lead">Proyecto de Investigación</p>
        </div>
    </div>
    <hr class="my-4 border-secondary" />
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-primary">Integrantes</h2>
            <ul class="list-unstyled">
                <li>Ulises Monge Aguilar</li>
                <li>Kevin Núñez Méndez</li>
                <li>Dayana Murillo García</li>
                <li>Elías Méndez Jiménez</li>
                <li>Andrey González Laitano</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2 class="text-primary">Profesor</h2>
            <p class="lead">Michael Andrew Hudson Baltodano</p>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <a href="https://www.linkedin.com" target="_blank" class="mx-2">
            <img src="path/to/linkedin-logo.svg" alt="LinkedIn" class="social-icon" /> 
        </a>
        <a href="https://www.facebook.com" target="_blank" class="mx-2">
            <img src="path/to/facebook-logo.svg" alt="Facebook" class="social-icon" /> 
        </a>
        <a href="https://www.instagram.com" target="_blank" class="mx-2">
            <img src="path/to/instagram-logo.svg" alt="Instagram" class="social-icon" /> 
        </a>
        <a href="https://www.tiktok.com" target="_blank" class="mx-2">
            <img src="path/to/tiktok-logo.svg" alt="TikTok" class="social-icon" /> 
        </a>
    </div>
</div>